@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --graylight: #A5A5A5;
  --gray: #595959;
}

.canvas-sphere{
  @media only screen and (max-width: 1023px){
    width: 100vw;
  }  
}

@keyframes showRight {
  100% {
    width: 0;
  }
}